<div class="container color-dark">
  <div class="col">
    <p>Recursos Humanos</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <form>
      <input type="text" class="txt" name="item" placeholder="Nome">
      <input type="submit" class="btn" value="Buscar">
      <input type="text" class="txt" name="item" placeholder="Nome">
      <input type="text" class="txt" name="item" placeholder="Endereço">
      <input type="text" class="txt" name="item" placeholder="Telefone">
      <input type="text" class="txt" name="item" placeholder="CPF">
      <input type="submit" class="btn" value="Cadastrar">
    </form>
  </div>
</div>
