<div class="container color-dark">
  <div class="col">
    <p>Manufatura</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <form>
        <div class="input-field col">
            <input type="text" class="validate">
            <label for="ID">ID</label>
          </div>
          <input type="submit" class="btn" value="Buscar Produtos">
          <div class="input-field col">
            <input type="text" class="validate">
            <label for="Nome do Produto">Nome do Produto</label>
          </div>
          <div class="input-field col">
            <input type="text" class="validate">
            <label for="Quantidade">Quantidade</label>
          </div>
          <div class="input-field col">
            <input type="text" class="validate">
            <label for="Descrição">Descrição</label>
          </div>
      <input type="submit" class="btn" value="Cadastrar Produto">
    </form>
  </div>
</div>
