<div class="container color-dark">
  <div class="col">
    <p>Manufatura</p>
  </div>
</div>

<div class="container">
  <div class="col">
    <h1>Produtos</h1>
    <table>
        <tr>
          <th>Nome</th>
          <th>Número</th>
          <th>Bandeira</th>
          <th>Produto Acabado</th>
        </tr>
        <tr *ngFor="let produto of produtos">
          <td> {{ produto.Nome }} </td>
          <td> {{ produto.NumeroProduto }} </td>
          <div *ngIf="produto.fazerBandeira; then thenBlock1 else elseBlock1"></div>
          <ng-template #thenBlock1><td>Verdadeiro</td></ng-template>
          <ng-template #elseBlock1><td>Falso</td></ng-template>

          <div *ngIf="produto.produtosAcabadosBandeira; then thenBlock2 else elseBlock2"></div>
          <ng-template #thenBlock2><td>Verdadeiro</td>Verdadeiro</ng-template>
          <ng-template #elseBlock2><td>Falso</td></ng-template>
        </tr>
      </table>
  </div>
  

</div>
<div class="container color-light">
  <div class="col">
    <form>
      <input type="text" class="txt" name="item" placeholder="ID">
      <input type="submit" class="btn" value="Buscar Produtos">
      <input type="text" class="txt" name="item" placeholder="Nome do Produto">
      <input type="text" class="txt" name="item" placeholder="Quantidade">
      <input type="text" class="txt" name="item" placeholder="Descrição">
      <input type="submit" class="btn" value="Cadastrar Produto">
    </form>
  </div>
</div>
