<div class="container color-dark">
  <div class="col">
    <p>Produtos</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <form>
      <input type="text" class="txt" name="item" placeholder="">
      <input type="text" class="txt" name="item" placeholder="">
      <input type="text" class="txt" name="item" placeholder="">
      <input type="text" class="txt" name="item" placeholder="">
      <input type="submit" class="btn" value="Cadastrar Pessoas">
      <input type="submit" class="btn" value="Buscar Pessoas">
    </form>
  </div>
</div>
