<nav>
  <div class="nav-wrapper">
    <!-- <a routerLink="" class="brand-logo">Logo</a> -->
    <ul class="">
      <li>
        <a routerLink="">
          <i class="material-icons left">home</i>Home
        </a>
      </li>
      <li>
          <a routerLink="inventario">
            <i class="material-icons left">archive</i>Inventário
          </a>
      </li>
      <li>
          <a routerLink="manufatura">
            <i class="material-icons left">view_module</i>Manufatura
          </a>
      </li>
      <li>
          <a routerLink="pessoas">
            <i class="material-icons left">person</i>Pessoas
          </a>
      </li>
      <li>
          <a routerLink="produtos">
            <i class="material-icons left">shopping_cart</i>Produtos
          </a>
      </li>
      <li>
          <a routerLink="rh">
            <i class="material-icons left">business</i>Rh
          </a>
      </li> 
      <li>
          <a routerLink="vendas">
            <i class="material-icons left">call_missed_outgoing</i>Vendas
          </a>
      </li>                                    
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
