<div class="container color-dark">
  <div class="col">
    <p>Inventário</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <form>
      <input type="text" class="txt" name="item" placeholder="ID">
      <input type="submit" class="btn" value="Buscar Produtos">

      <input type="text" class="txt" name="item" placeholder="Nome do Produto">
      <input type="text" class="txt" name="item" placeholder="Quantidade">
      <input type="text" class="txt" name="item" placeholder="Descrição">
      <input type="submit" class="btn" value="Cadastrar Produto">
    </form>
  </div>
</div>
