<div class="container color-dark">
  <div class="col">
    <p>Adventure Bike</p>
  </div>
</div>
<div class="container color-light">
  <div class="input-field col">
    <form>
      <div class="input-field col">
          <i class="material-icons prefix">account_circle</i>
        <label for="Login">Login</label>
        <input id="Login" type="text" class="validate">
      </div>
      <div class="input-field col">
          <i class="material-icons prefix">lock_open</i>
        <input type="password" class="validate">
        <label for="password">Senha</label>
      </div>
      <input type="submit" class="btn" value="Entrar">
      
    </form>
  </div>
</div>